---
import 'leaflet/dist/leaflet.css';
import list from '../assets/data/list.json';
---

<section>
	<div id="map" class="h-dvh"></div>
</section>


<script define:vars={{list}}>

	document.addEventListener('DOMContentLoaded', () => {
		const map = L.map('map').setView([32.764233, 129.872696], 10);
		L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 19,
		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	}).addTo(map);

	function multipleMarkers() {
		list.Fukuoka.map((item) => {
			return marker = new L.marker([item.latitude, item.longitude]).bindPopup(item.title).addTo(map);
		})
	}

	multipleMarkers()

	})
</script>